<br>
<h1 class = "ui container center aligned"> Welcome new user!! </h1>
<%= render 'users/userform' %> <br><br>
<div class="ui form">
  <div class = "inline fields">
    <div class = "four wide field">
    </div>
    <div class = "four wide field">
      <button class="ui button" type="submit">Log in</button>
    </div>
    <div class = "three wide field">
    </div>
    <div class = "four wide field">
      <button class="ui button" type="submit">Register</button>
    </div>
  </div>
</div>
