<% @posts.each do |post| %>
  <div class="ui card container center aligned">
    <div class="content">
       <%= post.user.username %>
    <div class="extra text">
      <%= post.info %>
    </div> <!-- post ids-->
    </div>
    <div class="content left aligned">
      <i class="comment icon"></i>
      3 comments
      <% post.comments.each do |comment| %>
        <div>
          <%= comment.user.username %>:- <br>
          <%= comment.info %>
        </div>
      <% end %>
    </div>
    <div class="extra content left aligned">
      <div class="ui large transparent  input">
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
<% end %>
