<h1 class = "ui container center aligned">
  <% if logged_in?%>
    <button class="ui basic button large black">
      <b>Add Post</b>
    </button>
  <%end%>
</h1>
<% @posts.each do |post| %>
  <div class="ui card container center aligned">
    <div class="content">
       <%= post.user.username %>
    <div class="extra text">
      <%= post.info %>
    </div>
    </div>
    <div class="content left aligned">
      <i class="comment icon"></i>
      3 comments
    </div>
    <% if post.comments.any? %>
      <div class="content left aligned">
        <% post.comments.each do |comment| %>
          <div>
            <em><bold><%= comment.user.username %>:-&nbsp;</em></bold>
            <em><%= comment.info %></em>
          </div>
        <% end %>
      </div>
    <%end%>
    <div class="extra content left aligned">
      <div class="ui large transparent  input">
        <input type="text" placeholder="Add Comment...">
      </div>
    </div>
  </div>
<% end %>
