<div class="ui inverted huge segment">
    <div class="ui inverted secondary menu">
      <a class="item">
        Home
      </a>
      <div class="right menu">
        <a class="item">
          My Account
        </a>
        <a class="item">
          Logout
        </a>
      </div>
    </div>
</div>
